org: luismutec
service: api-sismos-igp-scraping

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
    layer: true

provider:
  name: aws
  runtime: python3.13
  # Default memory size for functions (default: 1024MB)
  memorySize: 1024
  timeout: 30  # Aumentado a 30 segundos para páginas dinámicas
  iam:
    role: arn:aws:iam::439535099835:role/LabRole

functions:
  scrape_sismos_igp:
    handler: lambda_sismos.lambda_handler
    package:
      include:
        - ./**  # Incluir todo el contenido del directorio
    events:
      - http:
          path: /scrape/sismos-igp
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    TablaSismosIGP:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaSismosIGP
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
